@if ($include__site-map == true){
	.portlet-site-map{
		.portlet{
		margin:0;
		}
		.navbar .navbar-nav {
		    padding: 0;
		    margin: 0;
		    width: 100%;

		    > li, li{
		    	.dropdown-menu {
				    width: 100% !important;
				    a{
				    	color: color(primary);
				    	padding: rem(6);
				    	&:hover{
				    		color: color(white);
				    	}
				    }
				}

		    	&.selected {
					a, a:hover, a:focus, a:active{
						&::after {
						    display: block;
						    width: 100%;
						    height: rem(3);
						    background: color(primary);
						    content: "";
						    position: absolute;
						    bottom: 0;
						    left: 0;
						}
					}
			    }
			}
		}
	}


	@include media-query (sm) {
		.portlet-site-map{
			.portlet{
			margin:0;
			}
			.navbar-nav {
			    display: block;
				width: 100% !important;
				float: left;
				clear: both;
				> li {
				    float: left;
				    clear: both;
				    width: 100%;
				    text-align: left;
				    .dropdown-menu {
					    width: auto !important;
					    padding: rem(10);
					    border: rem(1) solid #eee;
					    clear: both;
					}

					&:last-child {
					    margin-bottom: rem(20);
					}
				}
			}
		}
	}
}