.evr-menu-block {
    &__content {
        position: absolute;
        left: rem(11);
    }
    &__element {
        position: absolute;
        right: rem(11);
        top: 17.5px;

        button {
            font-size: 0;
            border: none;
            height: 18px;
            width: 18px;
            border-radius: 0;
            background: url(/medioambiente/portal/o/ventana-theme/images/ico_edit_white.svg);
            background-repeat: no-repeat;
            position: relative;
        }
        a {
            font-size: 0;
            border: none;
            height: 18px;
            width: 18px;
            border-radius: 0;
            background: url(/medioambiente/portal/o/ventana-theme/images/ico_detele_white.svg);
            background-repeat: no-repeat;
            position: relative;
        }
    }
   
}
.evr-rating__footer {
    .glyphicon-star:before {
        font-size: rem(18);
    }
}
a.rating-element.rating-element-on {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
}
a.rating-element.rating-element-on:before {
    font-size: 1.125rem;
    content: "\e006";
    color: #ffe680;
}