////
/// Resultados de mapa component
///
/// Description of the component
///
/// @access public
/// @author Dfront Specialist Team
/// @group components
/// @name .#{$wf__ns}example
/// @since version 1.0.0
////
.#{$ns}map-result{

    &__btn-container{
        display: block;
        width: 100%;
        margin: 0;
        text-align: end;
    }
    
    &__txt{
        font-size: rem(16);
        line-height: rem(22);
        &:last-child{
            font-weight: bold;
        }
    }
    &__wrapper{
        margin-top: rem(30);
    }
    &__paragraph {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;

        &--primary{
            // .evr-map-result__box:nth-child(5n) {
            //     margin-right: 0;
            // }
            // .evr-map-result__box:nth-child(4n) {
            //     margin-right: 2.6%;
            // }
            >h1 {
                margin-top: 40px;
            }
        }
        // &--secondary {
        //     .evr-map-result__box:nth-child(4n) {
        //         margin-right: 0;
        //     }
        // }
    }
    &__box > a {
        display: block;
        height: 100%;
    }
}

@include media-query(sm) {
    .#{$ns}map-result{

        &__btn{
            width: 100%;
        }
        &__box {
            width: 100%;
            margin-right: 0;
        }
    }
}