.#{$ns}btn-thumb {
    padding: rem(12) rem(48);
    background-color: transparent;
    border: 1.5px solid color(primary,0.5);
    font-size: 0;
    text-align: center;
    @include border-radius(4px);

    &__icon {
        display: inline-block;
        width: rem(21);
        line-height: rem(30);
        vertical-align: middle;
    }
    &__txt {
        display: inline-block;
        padding-left: rem(8);
        font-size: rem(12);
        line-height: 1.2;
        font-weight: bold;
        color: color(primary);
        vertical-align: middle;
    }

    &:hover, &:focus, &:active {
        border-color: color(primary_hover);
        .#{$ns}btn-thumb__txt {
            color: color(primary_hover);
        }
    }
}


@include media-query(xs) {
    .#{$ns}btn-thumb {
        display: block;
        width: 100%;
    }
}