////
/// Visitform component
///
/// Description of the component
///
/// @access public
/// @author Dfront Specialist Team
/// @group components
/// @name .#{$wf__ns}visitform
/// @since version 1.0.0
////


.#{$ns}visitform {
	width: 1000px;
	margin: 2rem;
	border: 1px solid gray;
	margin-bottom: 30px!important;
	// margin-top: 25px !important;
    // margin-bottom: 25px!important;

  &__title {
    font-family: $wf__font--light !important;
    display: block;
    font-size: 1rem;
    line-height: 1.2;
    font-weight: bold;
    margin: 1.5rem 0rem;
    padding-bottom: 1rem;
    padding-left: 1rem;
    border-bottom: 1px solid #d8d8d8;
	}
	&__sign-up {
		button {
			width: auto;
			padding: rem(8);
			min-width: rem(202);
			span {
				font-size: rem(16);
			}
		}
	}
	&__content {
		padding: 1.5rem;
		padding-bottom: 0;
    	padding-top: 10px;
		margin-bottom: 30px;
	}
	&__block {
		margin-bottom: 2rem;
		&--middle {
			width: 48%;
			display: flex;
			align-items: flex-end;
			div input {
				border-top-right-radius: 0;
				border-bottom-right-radius: 0;

				height: rem(40);
				&:focus, &:hover {
					border: 1px solid #087021;
    				
				}
			}
			>span {
				height: rem(34);
				width: rem(150);
				display: flex;
				justify-content: center;
				font-size: rem(16);
				// margin-top: 22.5px;
				border-top-right-radius: 4px;
				border-bottom-right-radius: 4px;
				height: rem(40);
				margin-bottom: 15px;
				
				&:hover, &:focus {
					cursor: pointer;
					background-color: #087021;
					border-color: #094525;
					color: white;

				}
			}
			.form-group.input-text-wrapper {
				width: 100%;
			}
		}
		&--margin-right {
			margin-right: 8px;
		}
		&--horizontal {
			display: flex;

		}
		&--vertical {
			display: flex;
			flex-direction: column;
			div {
				input {
					visibility: hidden;
				}
				label {
					&:hover, &:focus {
						font-weight: bold;
					}
					>div {
						margin-top: rem(10);
					}
				}
			}
		}
	}
	&__form-item {
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin-bottom: 1.8rem;
		&--sign-up {
			flex-direction: column;
			justify-content: flex-start;
			margin-bottom: 2rem;

			span {
				font-size: rem(16);
			}
		}
		&--detail {
			display: flex;
			justify-content: space-between;
			input {
				width: 41.5rem;
			}
		}
	}
	&__input {
		width: 50rem;
		&--detail {
			display: flex;
			margin-right: 8px;
		}
		&--middle {
			width: 300px;
		}
		&--big {
			width: 100%;
		}
		&--error {
			border: 1.5px solid color(red);
		}
	}
	&__info-photografy {
		width: 100%;
	}
	&__button {
		&--link {
			background-color: #fff;
			color: color(primary);
			border: none;
			&:hover {
				border-bottom: 1px solid color(primary);
			}
		}
		&--middle {
			height: 34px;
		}
		&--form {
			padding: 7px;
		}
		&--error{
			border: 1.5px solid color(red);
		}
	}
	&__information-detail {
		display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
	}
	&__banner {
		width: 34%;
    display: flex;
    flex-wrap: wrap;
	}
	&__figure {
		// align-self: center;
		width: rem(70);
		height: rem(70);
		margin-right: rem(15);
		min-width: rem(70);
		min-height: rem(70);
		img {
			width: 100%;
		}
		&--image{ 
			border-radius: 50%;
			width: 80px;
			height: 80px;
			min-width: 80px;
			min-height: 80px;
			margin-right: 1rem;
			background: url("/medioambiente/portal/o/ventana-theme/images/ico_photo.svg");
			background-repeat: no-repeat;
			background-color: #818a91;
		}
		&--ico-error {
			background: color(red);
			border-radius: 50%;
			width: 8px;
			height: 8px;
			margin-right: 6px;
			align-self: center;
		}
	}
	&__text {
		padding-left: 10px;
		margin-top: 13px;
		&--error {
			color: red;
			font-size: 0.8rem;
			display: flex;
			margin-top: 2px;
		}
		&--subtitle {
			border: 1px solid color(primary);
		}

	}
	&__txt {
		font-size: 14px;
		margin-bottom: 18px;
		line-height: 19px;
	}
	&__information-action {
		display: flex;
		justify-content: space-between;
		margin-bottom: 2rem;
		&--opcion {
			margin-right: 1rem;
		}
	}
	&__question-count {
		// display: flex;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 2rem;
		padding-bottom: 1rem;
		border-bottom: 1px solid #d8d8d8;
	}
	&__terms {
		display: flex;
    	flex-direction: column;
		margin-bottom: 2rem;
		&--text {
			color: color(primary);
			font-weight: bold;
		}
		div {
			margin-bottom: 1rem;
		}
	}
	&__footer {
		display: flex;
		justify-content: flex-end;
		margin-bottom: 10px;
		
		button {
			width: auto;
			padding: rem(8);
			min-width: rem(185);
			span {
				font-size: rem(16);
			}
			&:hover, &:focus {
				background-color: #094525;
				color:color(white);

			}
		}
	}
}
@include media-query(sm){ 
	.#{$ns}visitform {
		margin-top: 0;
		margin-bottom: 0;
		&__form-item {
			flex-direction: column;
			&--reverse {
				flex-direction: column-reverse;
			}
		}
		&__content {
			padding-top: 5px;
    		padding-bottom: 5px;
		}
		&__block {
			margin-bottom: 2rem;
			&--middle {
				width: 100%;
				position: relative;	
				margin-bottom: 15px;
			}
		}
		&__info-photografy {
			margin-top: rem(35);
		}
	}
}