///*------------------------------------
//    # HEADINGS | FONT-SIZE DEFAULT
//------------------------------------*/

$ns-h1		:   40 !default;
$ns-h2		:   32 !default;
$ns-h3		:   28 !default;
$ns-h4		:   24 !default;
$ns-h5		:   20 !default;
$ns-h6		:   16 !default;