/*------------------------------------------------------------------------
    #ACCESSIBLE
-------------------------------------------------------------------------*/

.hideAccessible {
	position: absolute;
	right: 9999rem;
}

.hide-accessible {
    position: absolute;
    left: -9999rem;
}
